apiVersion: apps.kaxonliu.com/v1
kind: YellowTang
metadata:
  labels:
    app.kubernetes.io/name: yellowtang
    app.kubernetes.io/managed-by: kustomize
  name: yellowtang-sample
spec:
  image: crpi-qncvnqrzwhgewc92.cn-shanghai.personal.cr.aliyuncs.com/kaxonliu/mysql:5.7
  replicas: 3
  masterServiceName: master-service
  slaveServiceName: slave-service
  storage:
    storageClassName: "local-path"
    size: 1Gi
  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1"
      memory: "2Gi"
  readinessProbe:
    tcpSocket:
      port: 3306
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
